{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Le téléphone est conforme

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous avons une excellente nouvelle, le téléphone que vous avez commandé est conforme ! </p>

    <p>Malgré tous les tests que nous lui avons fait passer, nous ne lui avons rien trouvé. </p>

    <p>Il va alors être envoyé prochainement pour rejoindre sa nouvelle maison :) </p>

    <p>Nous vous enverrons un mail à ce moment la ;) </p> <br />


    <p>Bonne journée :)</p>

{% endblock %}