{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Le téléphone est conforme !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }},</h1>

    <p>Nous avons une excellente nouvelle ! </p>

    <p>Le téléphone que vous avez commandé a passé tous nos tests avec succès, il est parfaitemet fonctionnel
        et conforme à l'annonce. </p>

    <p>Il peut désormais vous être envoyé</p>

    <p>Nous vous enverrons un mail dès qu'il sera pris en charge par le transporteur</p> <br />

    <p>Bonne journée :)</p>

{% endblock %}