{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Le téléphone est conforme !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vous informons que le téléphone que vous nous avez envoyé est conforme.</p>

    <p>Nous allons bientôt l'envoyer à son acheteur, à partir de moment où il sera expédié vous aurez les fonds crédités
    sur votre compte utilisateur</p>

    <p>Bonne journée !</p>

{% endblock %}