{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Le téléphone est conforme !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vous informons que votre téléphone est conforme et va être envoyé à son acheteur.</p>

    <p>Nous vous enverrons un mail dès qu'il sera pris en charge par le transporteur</p>

    <p>Bonne journée !</p>

{% endblock %}