{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Suppression de votre compte

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vous confirmons que votre compte a bien été supprimé</p>

    <p>Vous pourrez à tout moment vous créer un nouveau compte</p>

    <p>Ce mail est le dernier que vous recevrez de notre part</p>

    <p>Merci encore de votre confiance</p> <br />

    <p>Nous espérons à bientôt :)</p>

{% endblock %}