{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Votre compte a bien été supprimé

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vous informons que votre compte a bien été supprimé</p>

    <p>Vous pouvez à tout moment vous créer un nouveau compte</p>

    <p>Ce mail est le dernier est le dernier que vous recevrez de notre part</p>

    <p>Merci encore de votre confiance</p> <br />


    <p>Bonne journée :)</p>

{% endblock %}