{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Envoi de votre paiement

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vous confirmons que votre chèque de {{ price }}€ est envoyé</p>

    <p>Vous le recevrez dans votre boîte aux lettres d'ici 2 à 3 jours ouvrés</p>

    <p>Nous espérons vous avoir apporté entière satisfaction, n'hésitez pas à nous contacter si nécessaire</p>

    <p>Nous vous remercions encore pour votre confiance :)</p><br />

    <p>A bientôt !</p>

{% endblock %}