{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Envoi de votre paiment

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vons confirmons que votre paiement de {{ price }}€ est en cours</p>

    <p>Vous le recevrez dans votre boite au lettre dans 2 à 3 jours ouvrés</p>

    <p>Nous vous remercions encore pour votre confiance :)</p><br />


    <p>Bonne journée :)</p>

{% endblock %}