{% extends '@VictorAd/layoutmail.html.twig' %}

{% block body %}

    <h1>Bonjour {{ username }},</h1>

    <p>Nous voulions vous informer que nous avons reçu votre paiement.</p>

    <p>Le vendeur va nous envoyer son téléphone.</p>

    <p>Nous ne manquerons pas de vous tenir informé.</p>


    <p>Excellent journée :)</p>

{% endblock %}