{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    En route vers chez vous !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }},</h1>

    <p>Et voilà votre téléphone vient d'être envoyé.</p>

    <p>Il est en route jusqu'a chez vous pour son nouveau foyer ;)</p>

    <p>Nous esperons que vous apprécierez votre nouveau téléphone !</p>

    <p>A bientôt, et merci encore pour votre confiance :)</p>

{% endblock %}