{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    En route vers chez vous !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }},</h1>

    <p>Votre téléphone vient d'être pris en charge par le transporteur</p>

    <p>Il vous sera livré sous 2 à 3 jours ouvrés</p>

    <p>Nous espérons que le produit vous apportera entière satisfaction et que nous avons répondu a vos attentes</p>

    <p>N'hésitez pas à nous contacter si nécessaire</p>

    <p>A bientôt, et merci encore pour votre confiance :)</p>

{% endblock %}