{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    En route vers l'acheteur !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous venons à l'instant d'envoyer le téléphone vers son nouveau propriétaire</p>

    <p>Vous pouvez dès maintenant  aller sur votre compte et voir votre solde <a href="{{ url('victor_ad_wallet') }}">ICI</a></p>

    <p>Vous pourrez facilement faire une demande de retrait, nous vous enverrons alors un chèque qui sera chez
    vous dans les 2 à 3 jours ouvrés</p>

    <p>Merci de votre confiance !</p>

{% endblock %}