{% extends '@VictorAd/layoutmail.html.twig' %}

{% block body %}

    <h1>Bonjour {{ username }} !</h1>

    <p>Nous voulions vous informer que nous avons bien reçu votre produit.</p>

    <p>Nous allons vérifier qu'il soit bien conforme et en bonne santé :) </p>

    <p>Nous vous tiendrons au courant de la suite des évènements.</p>

    <p>Bonne journée ! ;)</p>

{% endblock %}