{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Reception du téléphone

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous avons le plaisir de vous informer que nous avons bien reçu votre téléphone !</p>

    <p>Il passera bientôt dans les mains de notre expert pour vérifier si celui-ci est bien conforme, nous vous tiendrons
    au courant.</p>

    <p>En attendant, passez une excellente journée :)</p>

{% endblock %}