{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Nous l'avons reçu !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }} !</h1>

    <p>Nous avons bien reçu le téléphone que vous avez acheté.</p>

    <p>Nous allons vérifier qu'il soit conforme à l'annonce et que tout fonctionne</p>

    <p>Nous vous tiendrons rapidement au courant de la suite des évènements.</p>

    <p>Bonne journée ! ;)</p>

{% endblock %}