{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Reception du téléphone !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous avons bien reçu votre téléphone !</p>

    <p>Il passera bientôt dans les mains de notre expert pour vérifier sa conformité</p>

    <p>Nous vous tenons au courant du résultat.</p>

    <p>En attendant, passez une excellente journée !</p>

{% endblock %}