{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Demande de paiement

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous voulons vous informer que nous avons bien reçu votre demande de paiement</p>

    <p>Notre équipe en charge du paiement s'occupera de votre demande le plus vite possible</p>

    <p>Nous vous enverrons un mail lorsque nous aurons envoyé votre paiement</p>

    <p>En attendant, passez une excellente journée :)</p>

{% endblock %}