{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Demande de paiement

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }}</h1>

    <p>Nous vous informons que nous avons bien reçu votre demande de paiement</p>

    <p>Notre équipe s'occupe de votre demande au plus vite</p>

    <p>Vous recevrez un mail vous informant de l'envoi de votre chèque</p>

    <p>En attendant, passez une excellente journée :)</p>

{% endblock %}