{% extends '@VictorAd/layoutmail.html.twig' %}

{% block title %}

    Votre téléphone est vendu !

{% endblock %}

{% block body %}

    <h1>Bonjour {{ username }},</h1>

    <p>Nous avons le plasir de vous annoncer que votre {{ model }} a trouvé preneur !</p>

    <p>Nous vous prions de nous envoyer le téléphone à l'adresse suivante pour contrôler le téléphone et ainsi conclure
    la vente</p>

    <p>Adresse : <br />
        iVente <br />
        123 rue du Paradis <br />
        75000 Paris
    </p> <br />

    <p>N'hésitez pas à suivre l'avancée de la commande sur votre espace membre</p>

    <p>Merci de votre confiance !</p>

{% endblock %}