{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <div class="block-error">
        <div class="error">

            <img src="{{ asset('bundles/victorad/images/sad.png') }}" alt="sad" class="sad">

            <h1>Erreur 404</h1>

            <p>La page que vous cherchez n'existe pas</p>

        </div>
    </div>

{% endblock %}