{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <div class="block-error">
        <div class="error">

            <img src="{{ asset('bundles/victorad/images/reflection.png') }}" alt="reflection" class="emoticon">

            <h1>Erreur {{ status_code }}</h1>

            <p>Hum, vous avez rencontré un problème, attendez quelques minutes et rafraichissez la page</p>
            <p>Si le problème persiste, <a href="mailto:vetudes.noreply@gmail.com">contactez-nous</a></p>

        </div>
    </div>

{% endblock %}