{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <div class="block-error">
        <div class="error">

            <img src="{{ asset('bundles/victorad/images/stop.png') }}" alt="stop" class="emoticon">

            <h1>Erreur 403</h1>

            <p>Vous n'avez pas le droit d'aller ici</p>

        </div>
    </div>

{% endblock %}