<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body style="background-color: lightblue">

{% block body %}

{% endblock %}

</body>


<footer style="background-color: #5eb5e0; width: 100%; bottom: 0; left: 0; right: 0; padding: 10px">
    <h2>Retrouvez-nous sur : </h2>
    <ul style="list-style-type: none">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>YouTube</li>
    </ul>
    <h3>Une question ?</h3>
    <p>N'hesitez pas à nous contacter <a href="mailto:vetudes.noreply@gmail.com">ici</a></p>
    <p>Vous souhaitez vous désabonner à la newsletter c'est sur votre compte <a href="{{ absolute_url(path('victor_ad_subscription')) }}">ici</a></p>
</footer>

</html>