{% block stylesheet %}

{% endblock %}

{% extends "VictorCoreBundle::layout.html.twig" %}

{% block title %}Voisin'aide !{% endblock %}


{% block body %}

    <h1>Achat - Vente de telephone</h1>

    <hr />

    {% block victorad_body %}

    {% endblock %}

{% endblock %}
