{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="jumbotron">
        <h2>Email envoyé</h2>
        <p>Nous vous avons envoyé à l'adresse : {{ user.email }}</p>
        <p>Ce mail contiendra un lien qui servira à activer votre compte</p>
    </div>
{% endblock fos_user_content %}
