{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

    <div id="information" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Formulaire invalide pour la/les raison(s) suivante(s) :
        <div id="mailProblem"></div>
        <div id="usernameProblem"></div>
        <div id="passwordProblem"></div>
        <div id="zipCodeProblem"></div>
        <div id="phoneProblem"></div>
    </div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" id="registerButton" class="persoButton"/>
    </div>
{{ form_end(form) }}
