{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

<h1>coucou</h1>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
            test
        </div>
    </div>

{{ infos }}
{% endblock %}