{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_core_home') }}"><input type="button" class="persoButtonReturn" value="Revenir à l'accueil"></a>

    <div class="jumbotron" style="margin-top: 10px">

        <h2>Félicitations pour votre achat !</h2>

        <p>Vous pouvez dès à présent consulter le statut de votre commande sur <a href="{{ path('victor_ad_account') }}">mon compte</a> !</p>

        <p>Si vous avez accepté de recevoir le suivi de votre commade par mail nous vous tiendrons au courant de l'avancée
            de cette dernière.</p>

        <p>Merci pour la confiance que vous nous témoignez :)</p>

    </div>
{% endblock %}