{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a class="persoButtonReturn" href="{{ path('victor_core_home') }}">Revenir à l'accueil</a>

    <div class="jumbotron" style="margin-top: 10px">

        <h2>Félicitations pour votre offre !</h2>

        <p>L'offre que vous avez faite est d'ores et déjà en ligne !</p>

        <p>Nous vous enverrons un mail lorsque que votre offre aura trouvé preneur.</p>

        <p>Merci pour la confiance que vous nous témoignez :)</p>

    </div>
{% endblock %}