{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Félicitation pour votre offre !</h2>

    <p>L'offre que vous avez faite est d'ores et déjà en ligne !</p>

    <p>Nous vous enverrons un mail lorsque que votre offre aura trouvé preneur.</p>

    <p>Merci encore pour la confiance vous nous témoignez :)</p>

{% endblock %}