{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <p>Nous voici ici sur la page contenant normalement les annonces pour le departement numéro {{ departement }}</p>

    <p>Il s'agit de la page numéro {{ page }}</p>

{% endblock %}