{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('victor_ad_view', {'id': advert.id}) }}">{{ advert.title }}</a>
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Il n'y a aucune annonce à afficher</li>
        {% endfor %}

    </ul>

{% endblock %}