{% block victorad_body %}

    <div id="banner">
        <img src="{{ asset('bundles/victorad/images/desk.jpg') }}" id="deskImage" />

        <div id="choiceHomePage">
            <p>Il va falloir faire un choix souhaitez-vous <br />

                <a href="{{ path('victor_ad_buy') }}"><input type="button" class="button-home" value="Acheter"></a>

                <a href="{{ path('victor_ad_sell') }}"><input type="button" class="button-home" value="Vendre"></a>

            </p>
        </div>
    </div>

    <div id="concept" class="container-fluid" style="border: 2px solid purple">
        <h2>Le concept :</h2>
        <p>
            iVente vous permet d'acheter votre téléphone en toute sécurité directement sur internet. Vous n'avez pas
            à vous soucier si le téléphone à un vice caché, nous le vérifions pour vous, puis nous vous l'expédions.<br />
            iVente vous permet aussi de vendre votre téléphone en toute simplicité. Déposé votre annonce avec la somme désiré
            et si votre téléphone à trouvé preneur vous n'aurez qu'à nous l'expédier, nous nous occupons du reste.
        </p>
    </div>


    <div id="operation" class="container-fluid" style="border: 2px solid red">
        <h2>Comment ça marche ?</h2>

        <div id="buyOperation" class="container-fluid" style="border: 2px solid blue">
            <h3>Partie Achat</h3>
            <ul>
                <li>
                    1. Choisissez votre smartphone parmis les offres présente sur le site. S'il n'y pas d'offre
                    pour le téléphone que vous désirez, n'hesitez pas à revenir de temps en temps pour voir les nouvelles offres
                    disponible.
                </li>
                <li>
                    2. Payer de manière sécurisé à l'aide de notre partenaire Stripe, le vendeur devra nous envoyer le smartphone
                    pour que nous puissions l'expertiser. Vous pouvez être alors sur que le téléphone est parfaitement fonctionnel
                    et que celui-ci est conforme à la description.
                </li>
                <li>
                    3. Une fois tous les tests effectués nous vous envoyons alors le smartphone directement chez vous le plus
                    rapidement possible.
                </li>
            </ul>
        </div>
        <div id="sellOperation" class="container-fluid" style="border: 2px solid green">
            <h3>Partie Vente</h3>
            <ul>
                <li>
                    1. Choisissez votre smartphone parmis toutes les références disponible sur le site. Si le smartphone que vous
                    voulez vendre n'est pas référencé, vous pouvez nous envoyer un mail <a href="mailto:vetudes.noreply@gmail.com">ici</a>
                    pour voir si nous comptons le rajouter prochainement.
                </li>
                <li>
                    2. Une fois que l'acheteur a payé sur le site, nous vous envoyons un mail vous indiquant de nous envoyer le smartphone
                    à notre adresse pour que celui-ci soit vérifié avant d'être envoyé vers l'acheteur.
                </li>
                <li>
                    3. Si le téléphone est conforme, il est alors envoyé vers l'acheteur. Dès que le smartphone est expédié
                    vous récupéré la sommes de la vente (-10% de commission) directement dans votre portefeuille. Vous pourrez
                    à tout moment demander à recupérer votre argent.
                </li>
            </ul>

        </div>
    </div>

{% endblock %}