{% block victorad_body %}

    <div id="banner">
        <img src="{{ asset('bundles/victorad/images/desk.jpg') }}" id="deskImage" />

        <div id="choiceHomePage">
            <p>Il va falloir faire un choix si vous souhaitez <br />

                <a href="{{ path('victor_ad_buy') }}"><input type="button" class="button-home" value="Acheter"></a>

                <a href="{{ path('victor_ad_sell') }}"><input type="button" class="button-home" value="Vendre"></a>

            </p>
        </div>
    </div>

{% endblock %}