{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

<form action="{{ path('victor_ad_ordercheckout',{'offerid': offer.id} ) }}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_9y2iO8ZCIEg06ONKLxjJ9qvb"
            data-amount="{{ offer.price * 100}}"
            data-name="Demo Site"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-currency="eur">
    </script>
</form>

{% endblock %}