{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <p>Ici se trouvera la section avec une liste pour selectionner le telephone a vendre.</p>

    {{ include('VictorAdBundle:Phone:choice.html.twig') }}

{% endblock %}