{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <p>Vous avez choisi ce modèle de telephone.</p>

    <ul>
        <li>Marque</li>
        <li>Modele</li>
        <li>Capacité</li>
        <li>Couleur</li>
        <li>Image</li>
        <li>Prix</li>
    </ul>


{% endblock %}