{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Votre demande de paiement</h2>

    <p>Nous avons bien reçu votre demande de paiement, nous effectuons votre paiement au plus vite</p>

    <p>N'hésitez pas à faire appel à nous pour l'achat d'un téléphone :)</p>

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButton" value="Retourner sur mon compte"></a>

{% endblock %}