{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Votre demande de paiement</h2>

    <p>Nous avons bien reçu votre demande de paiement, nous nous occuperons de votre demande le plus vite possible</p>

    <p>En attendant, n'hesitez pas à faire appel à nous pour vendre votre ancien téléphone :)</p>

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButton" value="Retourner sur mon compte"></a>

{% endblock %}