{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>

<h3>Vous êtes sur le point de supprimer votre compte !</h3>

    <p>Voulez-vous continuer ? :(</p>

    <p>Si c'est votre choix, nous le respectons, merci de rentrer votre mot de passe pour verifier qu'il s'agisse bien de vous</p>

    <form action="{{ path('victor_ad_verificationpassword') }}" method="post">
        <input type="password" id="inputPassword" class="form-control" name="_password" required="required" autocomplete="current-password" placeholder="Mot de Passe">
    </form>
{% endblock %}