{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a class="persoButtonReturn" href="{{ path('victor_ad_account') }}">Revenir sur le compte</a>

<div id="deleteinfos">
    <h3>Vous êtes sur le point de supprimer votre compte !</h3>

    <p>Voulez-vous continuer ?</p>

    <p>Si c'est votre choix, nous le respectons, merci de rentrer votre mot de passe pour vérifier qu'il s'agisse bien de vous</p>

    <form action="{{ path('victor_ad_verificationpassword') }}" method="post">
        <input type="password" id="inputPasswordVerification" class="form-control" name="_password" required="required" autocomplete="current-password" placeholder="Mot de Passe">

        <button class="btn btn-danger centerButton" type="submit" name="_submit">Supprimer</button>
    </form>
</div>
{% endblock %}