{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>

<h3>Vous êtes sur le point de supprimer votre compte !</h3>

    <p>Voulez-vous continuer ? :(</p>

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="btn btn-primary" value="Non"></a>

    <!--<a href="{{ path('victor_ad_deletehimself') }}"><input type="button" class="btn btn-danger" value="Oui"></a>-->



{% endblock %}