{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>


    <div class="container-fluid wallet-block">
        <h2 style="text-align: center">Mon porte-feuille</h2>
        <div id="wallet-img">
            <img src="{{ asset('bundles/victorad/images/wallet.png') }}"><br />
        </div>
        <div id="wallet-explain">
            <p>Vous trouverez ici le contenu de votre porte-feuille avant de le transferer sur votre compte</p>
        </div>
        <div id="wallet-sum">
            <p>Vous avez actuellement :<br /></p>
            <p><b id="wallet-price">{{ sum }}0€</b></p>
        </div>

        {% if sum > 0 %}
        <div id="wallet-button">
            <a href="{{ path('victor_ad_confirmwallet') }}"><input type="button" class="persoButton centerButton" value="Retirer mon argent"></a>
        </div>
        {% endif %}
    </div>


{% endblock %}