{% extends '@VictorCore/layout.html.twig' %}

{% block body %}


    <div class="container-fluid wallet-block" style="border: 2px solid red">
        <h2 style="text-align: center">Mon porte-feuille</h2>
        <div id="wallet-img" style="text-align: center">
            <img src="{{ asset('bundles/victorad/images/wallet.png') }}" style="width: 150px; margin-bottom: 30px"><br />
        </div>
        <div id="wallet-explain" style="text-align: center">
            <p>Vous trouverez ici le contenu de votre porte-feuille avant que vous transferez celui-ci
            sur votre compte et ainsi récupérer la somme.
            </p>
        </div>
        <div id="wallet-sum">
            <p style="text-align: center">Vous avez actuellement :<br /></p>
            <p><b style="justify-content: center; font-size: 5vw;border: 5px solid green; padding: 10px">{{ sum }}€</b></p>
            <p>Félicitation c'est une somme rondelette :)</p>
        </div>
    </div>


{% endblock %}