{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h1>Qui sommes nous ?</h1> <br />

    <p>Nous sommes un site de vente créé dans le cadre d'un projet éducatif</p>

    <p>Il s'agit de mon projet final pour la formation de DWJ sur le site OpenClassrooms</p>

    <p>Il a été créé à l'aide de Symfony</p>

    <p>Son développement a commencé fin Mars 2018</p>

    <p>Il est possible d'accéder au GitHub du projet directement <a href="https://github.com/V1ctorC/Projet5">ici</a></p>

    <div id="OCBloc">
        <img src="{{ asset('bundles/victorad/images/OC.png') }}" id="OCImage">
    </div>

{% endblock %}