body
{
    background-color: #E9EBEE;
}

.navbar
{
    background-color: #4FB783;
}


.navbar-default {
    background-color: #4FB783;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}


.navbar-default .navbar-toggle {
    border-color: #4FB783;
    background-color: #409D9B;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #409D9B;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.navbar a
{
    color: white;
}

.navigation
{
    color: #4FB783;
}

.link-menu
{
    color: white;
}

#menu a
{
    color: white;
}

#rightnav
{
    background-color: #409D9B;
}

/* Home */

.button-home
{
    background-color: #4FB783;
    border: 2px solid #4FB783;
    border-radius: 10px;
    color: #FEEB97;
}


/* Choix telephone */

.yearPhone
{
    width: 25%;
    border: 2px solid red;
}

#allPhones
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.persoButton
{
    display: block;
    background-color: #4FB783;
    color: #034561;
    border: 2px solid #034561;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-weight: bold;
}


.persoButton:hover
{
    background-color: #409D9B;
    text-decoration: underline;
}

.year
{
    text-align: center;
    font-size: 2em;
}

.phoneSelect
{
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    padding-left: 10px;
}

#listPhone
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgPhone
{
    margin-left: 25%;
    width: 50%;
}

#brand
{
    font-size: 2em;
}

#model
{
    font-size: 1.2em;
}

.phoneChoice
{
    display: flex;
}

#deskImage
{
    margin: 0;
    width: 100%;
}

#banner
{
    width: 100%;
    position: relative;
}

#choiceHomePage
{
    position: absolute;
    border: 2px solid red;
    text-align: center;
    font-size: 4vw;
    color: white;
    font-weight: bold;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#choicePhone
{
    background-color: white;
}

#phoneImage
{
    height: 200px;
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

#offerview
{
    font-size: 3em;
}


/* Footer */


footer
{

    bottom: 0;
    width: 100%;
    color: white;
}

.footer-links
{
    color: white;
    text-decoration: none;
}

.footer-links:hover {
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

.fa-facebook:hover
{
    color: white;
    text-decoration: none;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    text-decoration: none;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover
{
    color: white;
    text-decoration: none;
}

/* Instagram */
.fa-instagram
{
    background: #417399;
    color: white;
}

.fa-instagram:hover
{
    color: white;
    text-decoration: none;
}

/* YouTube */
.fa-youtube
{
    background: #B90711;
    color: white;
}

.fa-youtube:hover
{
    color: white;
    text-decoration: none;
}

.fa-google
{
    background: #DB4C3F;
    color: white;
}

.fa-google:hover
{
    color: white;
    text-decoration: none;
}



