body
{
    background-color: #E9EBEE;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#global
{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

#content {
    flex-grow:1;
}

.navbar
{
    background-color: #4FB783;
}


.navbar-default {
    background-color: #409D9B;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}


.navbar-default .navbar-toggle {
    border-color: white;
    background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #409D9B;
}


.navbar a
{
    color: white;
}

.navigation
{
    color: #4FB783;
}

.link-menu
{
    color: white;
}

#menu a
{
    color: white;
}

#rightnav
{
    background-color: #409D9B;
}

/* Home */

.button-home
{
    background-color: #4FB783;
    border: 2px solid #4FB783;
    padding: 8px;
    border-radius: 10px;
    color: #FEEB97;
    box-shadow: 0 9px 0 #409D9B;
}

.button-home:hover
{
    color: #FEEB97;
}

.button-home:active
{
    box-shadow: 0 2px 0 #409D9B;
}

#mobileHeader
{
    display: none;
}


/* Choix telephone */

.yearPhone
{
    display: block;

}

#allPhones
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.persoButton
{
    display: block;
    background-color: #4FB783;
    color: #034561;
    border: 2px solid #034561;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    width: 150px;
}

.linksAccount
{
    color: #034561;
}

.persoButtonAdmin
{
    display: block;
    background-color: #FEEB97;
    color: #034561;
    border: 2px solid #409D9B;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.persoButtonAdmin:hover
{
    text-decoration: none;
    background-color: #4FB783;
    color: #034561;
    border: 2px solid #034561;

}

.persoButtonReturn
{
    border-radius:12px 0 12px 0;
    background: #409D9B;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 6px 6px 6px;
}

th
{
    background-color: white;
}


.persoButton:hover
{
    background-color: #409D9B;
    text-decoration: underline;
}

.year
{
    text-align: center;
    font-size: 2em;
}

.phoneSelect
{
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    padding-left: 10px;
}

.listPhone
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgPhone
{
    margin-left: 25%;
    width: 50%;
}

.brand
{
    font-size: 2em;
}

.model
{
    font-size: 1.2em;
}

.phoneChoice
{
    display: flex;
}

#deskImage
{
    margin: 0;
    width: 100%;
}

#banner
{
    width: 90%;
    margin: auto;
    position: relative;
}

#choiceHomePage
{
    width: 55%;
    position: absolute;
    text-align: center;
    font-size: 4vw;
    color: white;
    font-weight: bold;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#choicePhone
{
    background-color: white;
}

#phoneImage
{
    height: 200px;
}

#summary
{
    background-color: white;
}

.labelSummary
{
    font-weight: bold;
}

#summaryList
{
    text-align: center;
}

#summaryText
{
    text-align: center;
}

#offerview
{
    font-size: 1.5em;
    font-weight: bold;
}


table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

#paiementButton
{
    text-align: center;
    margin-bottom: 20px;
}

.centerButton
{
    display: block;
    margin: auto;
}

#information
{
    display: none;
}

/* Account */

#h2account
{
    border: 2px solid #4FB783;
    border-radius: 10px;
    background-color: #4FB783;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
    color: white;

}

.accountBloc
{
    border: 1px solid #4FB783;
    border-radius: 10px;
    padding-right: 0;
    padding-left: 0;
    height: 180px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.accountBloc ul
{
    margin: 0;
    padding: 0;
}

.accountBloc li
{
    list-style-type: none;
    list-style-position: inside;
}

.categorie
{
    text-align: center;
    border: 2px solid #4FB783;
    border-radius: 10px;
    background-color: #FEEB97;
    color: #034561;
}

#contactBloc
{
    border: 1px solid #4FB783;
    border-radius: 10px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    height: 120px;
    line-height: 60px;
}

#userInformation
{
    text-align: center;
}

.block-register
{
    border-radius: 10px;
    width: 90%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: #edf9de;
}

.problem-register
{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

#infomessage
{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}

#submitAddPhone
{
    display: flex;
    justify-content: center;
}



/* Footer */


footer
{
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer-links
{
    color: white;
    text-decoration: none;
}

.footer-links:hover {
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

.fa-facebook:hover
{
    color: white;
    text-decoration: none;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    text-decoration: none;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover
{
    color: white;
    text-decoration: none;
}

/* Instagram */
.fa-instagram
{
    background: #417399;
    color: white;
}

.fa-instagram:hover
{
    color: white;
    text-decoration: none;
}

/* YouTube */
.fa-youtube
{
    background: #B90711;
    color: white;
}

.fa-youtube:hover
{
    color: white;
    text-decoration: none;
}

.fa-google
{
    background: #DB4C3F;
    color: white;
}

.fa-google:hover
{
    color: white;
    text-decoration: none;
}

/* FORMULAIRE SIGN IN */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#resetPassword
{
    text-align: center;
    margin-bottom: 10px;
}

#victor_adbundle_offer_save
{
    display: block;
    background-color: #4FB783;
    color: #034561;
    border: 2px solid #034561;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#block-paymentWaiting
{
    margin-top: 30px;
    border: 3px solid #D3D3D3;
}

#paymentUsername
{
    text-align: center;
}

#paymentID
{
    border-top: 1px solid  #D3D3D3;
    border-bottom: 1px solid  #D3D3D3;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#paymentInfos
{
    display: flex;
    flex-direction: row;
}

#userData
{
    border-right: 1px solid #D3D3D3;
    width: 60%;
    text-align: center;
}

#paymentAction
{
    width: 40%;
    text-align: center;
    margin: auto;
}

.wallet-block
{
    margin-top: 10px;
    text-align: center;
}

#wallet-img img
{
    width: 150px;
    margin-bottom: 30px;
}

#wallet-price
{
    font-size: 5vw;
    padding: 10px;
}

/* ERRORS */

.block-error
{
    display: flex;
    height: 100%;
}

.error
{
    margin: auto;
    font-size: 2.5em;
    text-align: center;
}

.emoticon
{
    height: 80px;
}

#buttonsProfile
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#deleteinfos
{
    margin-top: 8%;
    text-align: center;
}

#inputPasswordVerification
{
    width: 50%;
    margin: 20px auto 20px auto;
}

#mobileChoice
{
    margin: 20px auto 20px auto;
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

#concept
{
    margin: 20px auto 20px auto;
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

#operation
{
    margin: 20px auto 20px auto;
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.buysellOperation
{
    margin: 20px auto 20px auto;
    background-color: #E9EBEE;
    border-radius: 5px;
}

.buysellOperation li
{
    list-style-type: none;
    margin-bottom: 10px;
}

.buysellOperation ul
{
    padding: 5px;
}
.number
{
    font-size: 2em;
}

#OCImage
{
    height: 200px;
}

#confirmWallet
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#textConfirmWallet
{
    background-color: #4FB783;
    padding: 10px;
    border-radius: 10px;
}

#priceConfirmWallet
{
    font-size: 1.5em;
    font-weight: bold;
}

#buttonConfirmWallet
{
    display: flex;
    flex-direction: row;
}

#stylecapacity16
{
    border: 2px solid #63F2DF;
    border-radius: 15px;
    padding: 3px;
    background-color: #63F2DF;
    color: white;
}

#stylecapacity32
{
    border: 2px solid #32CD32;
    border-radius: 15px;
    padding: 3px;
    background-color: #32CD32;
    color: white;
}

#stylecapacity64
{
    border: 2px solid #ED9511;
    border-radius: 15px;
    padding: 3px;
    background-color: #ED9511;
    color: white;
}

#stylecapacity128
{
    border: 2px solid #B55FEF;
    border-radius: 15px;
    padding: 3px;
    background-color: #B55FEF;
    color: white;
}

#stylecapacity256
{
    border: 2px solid #FE1E1E;
    border-radius: 15px;
    padding: 3px;
    background-color: #FE1E1E;
    color: white;
}

#choicePrice
{
    text-align: center;
}

.inputPrice
{
    color: inherit;
    text-align: center;
    font-size: 2em;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#validPriceForm
{
    margin: 15px auto 15px auto;
}

#realPrice
{
    display: none;
    color: darkgrey;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#phoneOrderTracking
{
    margin: 10px auto 20px auto;
}

@media all and (max-width: 1024px)
{
    #banner
    {
        display: none;
    }

    #mobileHeader
    {
        display: block;
    }

    #banner2
    {
        width: 100%;
        border-radius: 5px;
    }

    #mobileBanner
    {
        width: 90%;
        margin: auto;
    }

    #mobileChoice
    {
        margin: 20px auto 20px auto;
        width: 90%;
        text-align: center;
        background-color: white;
        border-radius: 5px;
        padding: 5px 10px 20px 10px;
    }

    #mobileChoiceButton
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #summary
    {
        margin-top: 10px;
        padding: 2px;
        border-radius: 5px;
    }

    #OCBloc
    {
        text-align: center;
    }
}